<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <!-- 配置Hibernate基本属性 -->
    <session-factory>
        <!-- 数据库方言 -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <!-- 配置是否显示Hibernate生成的SQL语句 -->
        <property name="show_sql">true</property>
        <!-- 格式化Hibernate生成的SQL语句 -->
        <property name="format_sql">true</property>
        <!-- 配置自动根据映射文件更新数据表 -->
        <property name="hbm2ddl.auto">update</property>

        <!-- 配置管理Session的方式 -->
        <property name="hibernate.current_session_context_class">
            org.springframework.orm.hibernate5.SpringSessionContext
        </property>     <!-- 交给Spring管理事务和关闭session -->

        <!--<property name="hibernate.current_session_context_class">thread</property>	&lt;!&ndash; Hibernate自行管理自己的session&ndash;&gt;-->

        <!--配置Hibernate的二级缓存属性-->
        <property name="cache.use_second_level_cache">true</property>
        <!--配置启用查询缓存-->
        <property name="cache.use_query_cache">true</property>
        <!-- 配置使用的二级缓存的产品 -->
        <property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory
        </property>

    </session-factory>
</hibernate-configuration>